<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../assets/css/common.css">
  <script src="../assets/js/vue.js"></script>
</head>

<body>
  <h1>component</h1>
  <div id="app">
    <div>{{message}}</div>
    <hello></hello>
    <world></world>
    <parent></parent>
    <component :is="who"></component>
  </div>
  <script>
    Vue.component('hello', {
      template: `
    <div>1. 全局component</div>
    `
    });
    var app = new Vue({
      el: '#app',
      data: {
        who: 'world',
        message: 'hello vue!'
      },
      components: {
        "world": {
          template: `
              <div>2. 局部componet</div>
              `
        },
        "parent": {
          template: `
            <div>
            <div>parent</div>
            <child></child>
            </div>
            `,
          components: {
            "child": {
              template: `
                    <div>child {{ count }}</div>
                    `,
              data: function() {
                return {
                  count: 2
                };
              }
            }
          }
        }
      }
    });
  </script>
</body>

</html>